@import-normalize; /* bring in normalize.css styles */

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Open-Sans";
  src: local("Open-Sans"), local('Open-Sans-Regular'), url("../src/fonts/main/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pokemon Hollow;";
  src: local("Pokemon Hollow;"), local('Pokemon Hollow;'), url("../src/fonts/pokemon/Pokemon-Hollow.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: 'Open-Sans', 'Pokemon Hollow', sans-serif;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
}
